---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Home">
	<Welcome>
		<div class="hero">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="../../public/profile-pic.svg"
      class="border-2 m-0 p-0" alt="Rae Jansen"
    />
    <div>
      <h1 class="text-5xl font-bold">Rae Jansen</h1>
      <p class="py-6">
        UX/UI Designer
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
	</Welcome>
</Layout>
