---
export interface Props {
  title: string;
}

const { title = "Card"} = Astro.props;
---

<div class="card-clean w-full">
  <div class="card-body space-y-3">
    <h2 class="card-title text-lg font-semibold text-base-content">{title}</h2>
    <slot />
  </div>
</div>
