<div class="navbar bg-base-100 mx-auto uppercase">
  <div class="flex-1">
    <a href="./" class="btn btn-ghost text-xl">Rae Jansen</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary class="font-bold text-lg">WORK</summary>
          <ul class="bg-base-100 p-2 border-4">
            <li><a href="./web-design">Web Projects</a></li>
            <li><a   href="./photography">Photography</a></li>
            <li><a  href="./illustration">Illustration</a></li>
          </ul>
        </details>
      </li>
      <li><a href="./about" class="font-bold text-lg">About</a></li>
      <li><a href="./contact" class="font-bold text-lg">Contact</a></li>
    </ul>
  </div>
</div>
