@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.001 106.424);
  --color-base-200: oklch(93% 0.127 124.321);
  --color-base-300: oklch(28% 0.091 267.935);
  --color-base-content: oklch(37% 0.146 265.522);
  --color-primary: oklch(89% 0.196 126.665);
  --color-primary-content: oklch(28% 0.091 267.935);
  --color-secondary: oklch(37% 0.146 265.522);
  --color-secondary-content: oklch(96% 0.067 122.328);
  --color-accent: oklch(37% 0.146 265.522);
  --color-accent-content: oklch(93% 0.127 124.321);
  --color-neutral: oklch(37% 0.146 265.522);
  --color-neutral-content: oklch(93% 0.127 124.321);
  --color-info: oklch(98% 0.031 120.757);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(45% 0.124 130.933);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(42% 0.095 57.708);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.25rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 3px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(28% 0.091 267.935);
  --color-base-200: oklch(28% 0.091 267.935);
  --color-base-300: oklch(89% 0.196 126.665);
  --color-base-content: oklch(96% 0.067 122.328);
  --color-primary: oklch(89% 0.196 126.665);
  --color-primary-content: oklch(28% 0.091 267.935);
  --color-secondary: oklch(93% 0.127 124.321);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(54% 0.245 262.881);
  --color-accent-content: oklch(93% 0.127 124.321);
  --color-neutral: oklch(28% 0.091 267.935);
  --color-neutral-content: oklch(96% 0.067 122.328);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(40% 0.101 131.063);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}
