<footer class="bg-base-100 border-t border-base-200 text-base-content p-6 flex flex-col sm:flex-row items-center justify-between gap-4">
   <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end justify-items-center">
    <a
      href="https://www.linkedin.com/in/rae-jansen-aa74282ab/" 
      target="_blank"
      rel="noopener noreferrer"
      aria-label="LinkedIn"
      class="flex items-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-5.5 0 32 32"
        fill="currentColor"
        class="w-6 h-6"
      >
        <path d="M0 8.22v15.56a2.6 2.6 0 0 0 2.63 2.63h15.56c.72 0 1.4-.35 1.84-.78.47-.47.78-1.07.78-1.85V8.22a2.6 2.6 0 0 0-2.62-2.63H2.63c-.79 0-1.38.32-1.85.78A2.7 2.7 0 0 0 0 8.23m2.81 2.06c0-1 .82-1.87 1.82-1.87a1.9 1.9 0 0 1 1.87 1.87c0 1.03-.84 1.85-1.87 1.85-1 0-1.82-.82-1.82-1.85m5.03 12.85V13.6c0-.22.22-.4.38-.4h2.66c.37 0 .37.44.37.72.75-.75 1.72-.94 2.72-.94 2.44 0 4 1.15 4 3.72v6.44c0 .21-.19.4-.38.4h-2.75c-.21 0-.37-.22-.37-.4V17.3c0-.97-.28-1.5-1.38-1.5-1.37 0-1.71.9-1.71 2.13v5.19c0 .21-.22.4-.44.4H8.22c-.16 0-.38-.22-.38-.4m-4.96 0v-9.54c0-.22.21-.4.37-.4h2.72q.39.01.4.4v9.54a.4.4 0 0 1-.4.4H3.25c-.19 0-.38-.22-.38-.4"/>
      </svg>
    </a>
  </nav>
  <aside class="grid-flow-col items-center text-sm text-base-content/80">
    <p>
      ©{new Date().getFullYear()} Rae Jansen — Built with Astro, TailwindCSS, and DaisyUI
    </p>
  </aside>

 
</footer>
