---
import "../assets/app.css";
import NavBar from "../components/NavBar.astro";
export let pageTitle = "";
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{pageTitle}</title>
	</head>
	<body>
		<div id="container">
			<!-- header -->
			<header><NavBar /></header>
			<!-- main -->
			<main>
				<!-- main content will be slotted in here -->
				<slot />
			</main>
			<!-- footer -->
			<footer></footer>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
